<h1><%= @user.user_name %></h1>
<h1> Your ordered </h1>

<% if @current %>
  (logged in as <%= @current.user_name %>)
<% end %>
<br><br>
<%= submit_tag "Log out" %> <br><br>


<%# <% @user.orders.each do |title|??? %> 
  <%# <li> list of orders </li>  %> 

<%# <% end %>